:root{
 --teal: #2ec1ac;
 --teal_hover: #279e8c; 
}

*{
        font-family: 'Poppins', sans-serif;
      }
    
      .h-font{
      font-family: 'Merienda', cursive;
     }

     input::-webkit-outer-spin-button,
     input::-webkit-inner-spin-button {
       -webkit-appearance: none;
        appearance: none;
        margin: 0;
      }

     input[type="number"] {
       -moz-appearance: textfield;
        appearance: textfield; 
   }


    .custom-bg{
       background-color: #2ec1ac;
       border: 1px solid #2ec1ac;
     }

     .custom-bg:hover{
      background-color: #279e8c;
      border-color: #279e8c;
      }
    .availablity-form{
      margin-top: -50px;
      z-index: 2;
      position: relative;
    }
    @media screen and (max-width: 575px) {
      .availablity-form{
        margin-top: 25px;
        padding: 0px 35px;
      }
      
    }